body,*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}
main{
	min-height: 100vh;
	background: linear-gradient(to left top,#6DFAC7,#009AF0);
	display: flex;
	align-items: center;
	justify-content: center;
}
#glass{
	background: white;
	min-height: 80vh;
	width: 60%;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	backdrop-filter: blur(30px);
	border-radius: 30px;
	z-index: 2;
	border-top: 2px solid white;
	border-left: 2px solid white;
	display: flex;
}
.userBar{
	flex:1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	font-size: 16px;
}
.datae{
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: column;
	font-size: 14px;
}
.datae p{
	margin: 0rem 0rem;
	padding: 1rem 2rem;
}
.logIn{
	background: white;
	background: linear-gradient(116.82deg, rgba(59, 153, 206, 0.8) 0%, rgba(82, 247, 187, 0.2) 100%), #FFFFFF;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	color: #043E5F;
	cursor: pointer;
}
.userAvatar img{
	width: 80px;
	height: 80px;
}
.regBar{
	flex: 2;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}
#country{
	width: 250px;
}
.regForm input{
	padding: 0.5rem 2rem;
	margin: 1rem 0rem;
	outline: none;
	border: none;
	border-radius: 30px;
	background-color: #25D8D9;
}
.regForm input[name="username"]{
	text-transform: capitalize;
}
#lblUser{
	text-transform: capitalize;
}
.regForm input:valid{
	background-color: #fff;
}
.regBtn{
	background: white;
	background: linear-gradient(to bottom right, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
	padding: 1rem;
	border-radius: 30px;
	color: #043E5F;
	cursor: pointer;
	border: none;
	outline: none;
	width: 100%;
}
.regForm input:focus{
	background-color: white;
	transition: all 0.3s;
}
.welcomeTxt{
	color: #005281;
	text-align: center;
}
.circle1,
.circle2{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	position: absolute;
	background: white;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
}
.circle1{
	left: 10%;
	bottom: 5%;
	transform: rotate(90deg);
}
.circle2{
	right: 10%;
	top: 10%;
	transform: rotate(-180deg);
}
